name: Build and Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up JDK for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-versiongit config --show-origin user.signingkey  : "25"
          cache: gradle

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Build and test
        run: ./gradlew --build-cache --no-daemon build
